<div id="nav-bar" ng-include="'/admin/templates/nav.html'" onload="setActivePrimaryTab(TAB_ORDER)"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<div class="btn-group">
		        <label class="btn btn-default" ng-model="orderFilter.type" uib-btn-radio="'all'" ng-click="search()">全部订单</label>
		        <label class="btn btn-default" ng-model="orderFilter.type" uib-btn-radio="'real'" ng-click="search()">排除机器订单</label>
		    </div>
		</div>
		<div class="col-sm-4">
			<div class="btn-group">
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="-1" ng-click="search()">全部订单</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="2" ng-click="search()">待发货</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="3" ng-click="search()">已发货</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="4" ng-click="search()">已签收</label>
		        <label class="btn btn-default" ng-model="orderFilter.status" uib-btn-radio="5" ng-click="search()">已关闭</label>
		    </div>
		</div>
	</div>

    <p></p>
	<div class="input-group">
	    <span class="input-group-btn">
			<div class="btn-group" uib-dropdown is-open="status.isopen">
			  <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
			    搜索<span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
			    <li role="menuitem"><a href ng-click="search()">搜索订单编号</a></li>
			    <li role="menuitem"><a href ng-click="searchByProductId()">搜索产品ID</a></li>
			    <li role="menuitem"><a href ng-click="searchReset()">清空搜索条件</a></li>
			  </ul>
			</div>
	    </span>
	    <input type="text" my-enter="search()" class="form-control" ng-model="orderFilter.searchId" placeholder="输入订单编号或产品ID">
    </div>
    <p></p>
    
	<div class="gridStyle" ui-grid="gridOptions"></div>
	
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href="#/orders/{{pager.currentPage-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			
			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href="#/orders/{{n}}">{{n}}</a></li>
			
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href="#/orders/{{pager.currentPage+1}}" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>