<div id="nav-bar" ng-include="'/admin/templates/nav.html'" onload="setActivePrimaryTab(TAB_PRODUCT)"></div>
<div class="container">
	<div class="ol-sm-12" ng-if="syncBtnTxt">
		<button type="button" class="btn btn-primary" ng-click="sync();">{{syncBtnTxt}}</button>
		<button type="button" class="btn btn-primary" ng-click="addProduct();">新增产品</button>
		&nbsp;&nbsp;&nbsp;
		<span style="line-height:1em;padding:8px;" ng-class="['alert', 'alert-'+alert.type]" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</span>
	</div>
    <p></p>
	<div class="input-group">
	    <span class="input-group-btn">
	      <button class="btn btn-default" type="button" ng-click="loadPage(1);">搜索</button>
	    </span>
	    <input type="text" my-enter="loadPage(1);" class="form-control" ng-model="keyword.value" placeholder="输入产品名">
    </div>
	<p></p>
	<div class="gridStyle" ui-grid="gridOptions"></div>
	<nav>
		<ul class="pagination">
			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasPrev]"><a href="#/products/{{pager.currentPage-1}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>

			<li ng-class="{true: 'active', false: ''}[pager.currentPage==n]" ng-repeat="n in pager.pageRange"><a href="#/products/{{n}}">{{n}}</a></li>

			<li ng-class="{true: 'active', false: 'disabled'}[pager.hasNext]"><a href="#/products/{{pager.currentPage+1}}" aria-label="Next"> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>
</div>

